* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-footer{
    width: 80%;
    height: 80%;
    background-color: white;
}
p{
    margin-top: 100px;
    background-image: url(../media/images/tableau-1.webp);
}